.cat-detail-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.cat-photo img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.star-icon {
    cursor: pointer;
    font-size: 3em;
}

.star-filled {
    color: yellow;
}

.star-empty {
    color: lightgray;
}