<div *ngIf="cat" class="cat-detail-container">
    <h1>{{ cat.name }}</h1>
    <div class="cat-photo">
        <img [src]="cat.photo" alt="cat photo">
    </div>
    <div class="cat-info">
        <p><strong>Age:</strong> {{ cat.age }} years</p>
        <p><strong>Breed:</strong> {{ cat.breed }}</p>
    </div>
    <div class="cat-vaccinations">
        <h2>Vaccinations:</h2>
        <ul>
            <li *ngFor="let vaccination of cat.vaccinations">
                {{ vaccination.type }} - {{ vaccination.date | date:'longDate' }}
            </li>
        </ul>
    </div>
    <div class="actions">
        <a [routerLink]="['/cats/edit', cat.name]" class="edit-button">Edit</a>
    </div>
</div>